.dictionary-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    left: -10%;
}
.dictionary-container > div{
    transition: padding 0.3s ease, margin 0.3s ease;
    padding: 30px;
    width: 100%;
    margin: 30px 40px 0 40px;
    min-width: 200px;
    height: auto;
    border-radius: 10px;
    background-color: rgb(206, 222, 250);
}
.search{
    justify-content: center;
    width: 80%;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.search input {
    transition : max-height 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
    background-color: white;
    color: black;
    font-family: "Roboto",sans-serif;
    padding: 0 40px 0 40px;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    max-height : 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: 2px solid rgb(144, 144, 144);
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}
html.dark .search input {
    background-color: rgb(41, 43, 49);
    border: 2px solid rgb(111,111,111);
    color: rgb(230,230,230);
}
.search input:focus{
    transition : max-height 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
    border: 2px solid rgb(144, 183, 255);
}
html.dark .search input:focus{
    border: 2px solid rgb(142, 151, 172);
}
.search input:focus ~ i{
    color: rgb(144, 183, 255);
}
html.dark .search input:focus ~ i{
    color: rgb(142, 151, 172);
}
.search input::placeholder{
    color: rgb(144, 144, 144);
}
html.dark .search input::placeholder{
    color: rgb(111, 111, 111);
}
.search :where(i,span){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(144, 144, 144);
}
html.dark .search:where(i,span){
    color: rgb(111, 111, 111);
}
.search i{ 
    transition: left 0.3s ease;
    left: 16px;
    pointer-events: none;
    font-size: 0.9em;
}
.search span{
    transition: right 0.3s ease;
    margin: 0 0 0 0;
    right: 16px;
    cursor: pointer;
    font-size: 0.9em;
    display: none;
}
.search input:valid ~ span{
    display: block;
}
.autocomplete{
    position: relative;
    display: inline-block;
}
.autocomplete-list{
    user-select: none;
    font-family: "Roboto",sans-serif;
    font-size: 1.2em;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0px;
    right: 0px;
}
.autocomplete-list div {
    padding: 10px;
    cursor: pointer;
    border: 2px solid rgb(236, 236, 236);
    border-bottom: 0;
    border-top: 0;
    background-color: white;
    transition: border 1s ease;
}
html.dark .autocomplete-list div {
    background-color: rgb(41, 43, 49);
    border: 2px solid rgb(49, 49, 49);
    border-bottom: 0;
    border-top: 0;
    transition: border 1s ease;
}
.autocomplete-list div:last-child{
    border-bottom: 2px solid rgb(236, 236, 236);
    transition: border 1s ease;
}
html.dark .autocomplete-list div:last-child{
    background-color: rgb(41, 43, 49);
    border-bottom: 2px solid rgb(49, 49, 49);
    transition: border 1s ease;
}
.autocomplete-list div:hover{
    background-color: rgb(236, 236, 236);
    transition: border 1s ease;
}
html.dark .autocomplete-list div:hover{
    background-color: 2px solid rgb(41, 43, 49);
    transition: border 1s ease;
}
.dictionary-container.active ul{
    grid-template-rows: 1fr;
}
.dictionary-container ul{
    background-color: white;
    transition: padding 0.3s ease, grid-template-rows 0.3s ease;
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-rows: 0fr;
    border-radius: 10px;
    margin: 0;
}
html.dark .dictionary-container ul{
    background-color: rgb(41, 43, 49);
    transition: padding-left 0.3s ease, grid-template-rows 0.3s ease;
}
.dictionary-container ul > div{
    overflow: hidden;
}
.dictionary-container ul > div li:last-child{
    margin-bottom: 20px;
}
.dictionary-container ul span{
    font-family: "Roboto",sans-serif;
    font-size: 1.4em;
}
.dictionary-container ul li{
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}
.dictionary-container ul li .details{
    transition: padding 0.3s ease, border-left-width 0.3s ease, border-radius;
    border-radius: 4px;
    border-left-color: rgb(0, 53, 150);
    border-left-style: solid;
    border-left-width : 4px;
    padding-left: 20px;
}
html.dark .dictionary-container ul li .details{
    border-left-color: rgb(89, 103, 133);
}
.dictionary-container ul li .details > span{
    color: rgb(80,80,80);
}
html.dark .dictionary-container ul li .details > span{
    color: rgb(175,175,175);
}
.dictionary-container ul li p{
    margin: 0 0 0 0px;
    font-size: 1.9em;
}
.dictionary-container ul li > span{
    margin: 0;
    color: rgb(80,80,80);
}
html.dark .dictionary-container ul li > span{
    color: rgb(175,175,175);
}
.dictionary-container ul .warning.active{
    display: block;
}
.dictionary-container ul .warning{
    margin-top: 20px;
    display: none;
}
.dictionary-container ul .warning p{
    font-size: 2em;
    font-weight: bold;
    color: red;
}
.dictionary-container ul .warning span{
    font-size: 1.4em;
    color: rgb(196, 0, 0);
}
html.dark .dictionary-container ul .warning p{
    color: red;
}
html.dark .dictionary-container ul .warning span{
    color: rgb(196, 0, 0);
}
.dictionary-container ul .word{
    transition: margin 0.3s ease;
    margin: 20px 0 0 25px;
}
.dictionary-container ul .word p{
    font-size: 3em;
    font-weight: 500;
}
.dictionary-container ul .word span{
    font-size: 1.4em;
    color: rgb(80,80,80);
}
html.dark .dictionary-container ul .word span{
    color: rgb(175,175,175);
}
.dictionary-container ul .notes.active{
    display: block;
}
.dictionary-container ul .notes{
    margin-top: 20px;
    display: none;
}
.dictionary-container ul .notes p{
    font-size: 2em;
}

.dictionary-container ul .notes span{
    font-size: 1.4em;
    color: rgb(80,80,80);
}
.dictionary-container .forms.active{
    display: block;
}
.dictionary-container .forms{
    display: none;
}
.dictionary-container ul .forms .details table{
    table-layout: fixed;
    width: 100%;
}
.dictionary-container ul .forms .details > table{
    font-size: 1.1em;
}
.dictionary-container ul .forms table th{
    transition: padding 0.3s ease;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: rgb(40,40,40);
    padding: 10px;
}
html.dark .dictionary-container ul .forms table th{
    color: rgb(215,215,215);
}
.dictionary-container ul .forms table th b{
    color: black;
}
html.dark .dictionary-container ul .forms table th b{
    color: rgb(230,230,230);
}
.dictionary-container ul .forms table td{
    transition: padding 0.3s ease;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    color: rgb(80,80,80);
    padding: 10px;
    vertical-align: baseline;
}
html.dark .dictionary-container ul .forms table td{
    color: rgb(175,175,175);
}
.dictionary-container ul .forms table span{
    font-size: 1.6em;
    font-weight: normal;
    color: black;
}
html.dark .dictionary-container ul .forms table span{
    color: rgb(230,230,230);
}
.dictionary-container ul .forms .details table .interactive-dropdown-container{
    margin: 10px 0 30px 0;
}
.dictionary-container ul .forms .details table .interactive-dropdown-container:last-child{
    margin: 10px 0 10px 0;
}
.interactive-dropdown-container{
    transition: padding 0.3s ease, border-left-width 0.3s ease, border-radius 0.3s ease;
    min-height: 30px;
    border-radius: 4px;
    border-left-color: rgb(12, 164, 206);
    border-left-style: solid;
    border-left-width : 4px;
    padding-left: 10px;
}
html.dark .interactive-dropdown-container{
    border-left-color: rgb(89, 119, 133);
}
.interactive-dropdown-container > aside{
    display: table;
    min-height: 30px;
    width: 100%;
}
.interactive-dropdown-container aside > blockquote{
    font-family: "Roboto",sans-serif;
    font-size: 1.3em;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    user-select: none;
}
.interactive-dropdown-container.open aside > i{
    transform: translateY(-50%) rotate(90deg);
}
.interactive-dropdown-container aside > i{
    font-size: 1.6em;
    color: black;
    position: relative;
    top: 15px;
    float: right;
    transform-origin: center;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
}
html.dark .interactive-dropdown-container aside > i{
    color: rgb(230,230,230);
}
.interactive-dropdown-container.open > .interactive-dropdown{
    grid-template-rows: 1fr;
}
.interactive-dropdown{
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease;
}
.interactive-dropdown > div{
    overflow: hidden;
}
.gridtable{
    padding: 0;
}
.gridtable > tbody > tr > td{
    padding: 0 0 10px 0 !important; 
}
.subtable{
    margin: 0 0 30px 0;
    width: 100%;
}
.subtable tr > th:first-child:nth-last-child(2){
    width : 33.3%;
}
.subtable tr > th:first-child:nth-last-child(3){
    width : 20%;
}
.subtable tr > th:first-child:nth-last-child(4){
    width : 16.6%;
}
.subtable caption{
    transition: padding-left 0.3s ease;
    font-family: "Roboto",sans-serif;
    text-align: left;
    font-size: 1.2em;
    padding-left: 10px;
    color: black;
}
html.dark .subtable caption{
    color: rgb(230,230,230);
}
table > .subtable:first-child{
    margin-top: 10px;
}
.subtable:last-child{
    margin: 0;
}
.dictionary-container ul li:last-child{
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.dictionary-container .info{
    display: table;
    text-align: center;
    height: 6em;
    width: 100%;
}
.dictionary-container .info > div{
    display: table-cell;
    vertical-align: middle;
}
.dictionary-container .info-text{
    margin: 0;
    text-align: center;
    font-size: 1.1em;
    color: rgb(118, 166, 255);
}
html.dark .dictionary-container .info-text{
    color: rgb(124, 134, 159);
}
.dictionary-container .info-text span{
    font-weight: 600;
    color: rgb(95, 151, 255);
}
html.dark .dictionary-container .info-text span{
    color: rgb(109, 124, 161);
}
html.dark .dictionary-container > div{
    transition: padding 0.3s ease, margin 0.3s ease;
    background-color: rgb(64, 72, 89);
}

@media(max-width: 600px){
    .dictionary-container{
        left: 0;
        width: 100%;
    }
    .dictionary-container > div{
        transition: padding 0.3s ease, margin 0.3s ease;
        padding: 10px;
        margin: 30px 10px 0 10px;
    }
    .dictionary-container ul{
        transition: padding 0.3s ease, grid-template-rows 0.3s ease;
        padding: 0 10px 0 10px;
    }
    .dictionary-container ul .word{
        transition: margin 0.3s ease;
        margin: 20px 0 0 15px;
    }
    .dictionary-container ul li .details{
        transition: padding-left 0.3s ease, border-left-width 0.3s ease, border-radius 0.3s ease;
        padding-left: 10px;
        border-left-width: 3px;
        border-radius: 3px;
    }
    .interactive-dropdown-container {
        transition: padding-left 0.3s ease, border-left-width 0.3s ease, border-radius 0.3s ease;
        padding-left: 5px;
        border-left-width: 3px;
        border-radius: 3px;
    }
    .dictionary-container ul .forms table th{
        transition: padding-left 0.3s ease;
        padding-left: 5px;
    }
    .dictionary-container ul .forms table td{
        transition: padding-left 0.3s ease;
        padding-left: 5px;
    }
    .subtable caption{
        transition: padding-left 0.3s ease;
        padding-left: 5px;
    }
    .search input {
        transition : max-height 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
        padding: 0 30px 0 30px;
        max-height : 40px;
        border-radius: 3px 3px 0 0;
    }
    .search i{ 
        transition: left 0.3s ease;
        left: 12px;
    }
    .search span{
        transition: right 0.3s ease;
        right: 12px;
    }
}

.goofy {
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}