.resource-title{
    transition: margin 0.3s ease;
    font-family: "Roboto",sans-serif;
    margin: 10px 0 10px 60px;
    font-size: 2em;
}
.resource-section-container{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.resource-container{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: auto;
}

@media(max-width: 600px){
    .resource-title{
        transition: all 0.3s ease;
        margin: 10px 0 10px 20px;
    }
}